<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="Server=127.0.0.1;Database=demo;port=3306;Uid=root;Pwd=qwe123;pooling=false;charset=utf8;"/>
    
    <!--全备参数： 0代表每天 1：礼拜一 2：礼拜二 3：礼拜三 4：礼拜四 5：礼拜五 6：礼拜六 7：礼拜日-->
    <add key="allBackup" value="0"/>
    
    <!--增备参数：最小为 5:即5分钟。最大为 720:即12小时 从最后一个全备开始-->
    <add key="increaseBackup" value="60"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
