<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="MysqlBinDir" value="C:\Program Files\MySQL\MySQL Server 5.7\bin"/>
    <add key="MysqlDataDir" value="C:\ProgramData\MySQL\MySQL Server 5.7\Data"/>
    
    <add key="Server" value="127.0.0.1"/>
    <add key="Database" value="nideshop"/>
    <add key="Password" value="qwe123"/>
    <add key="User" value="root"/>

    <add key="BackupDir" value="d:\data"/>

    <!--备份保留几个，默认1个-->
    <add key="BackupLeft" value="6"/>
    
    <!--全备参数： 0代表每天 1：礼拜一 2：礼拜二 3：礼拜三 4：礼拜四 5：礼拜五 6：礼拜六 7：礼拜日-->
    <add key="allBackup" value="0"/>
    
    <!--增备参数：最小为 5:即5分钟。最大为 720:即12小时 从最后一个全备开始-->
    <add key="increaseBackup" value="60"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
<!--
SHOW BINARY LOGS;
SHOW MASTER STATUS;
mysqlbinlog binlog_files | mysql -u root -p

mysqlbinlog binlog.000001 >  /tmp/statements.sql
mysqlbinlog binlog.000002 >> /tmp/statements.sql
mysql -u root -p -e "source /tmp/statements.sql"
mysqlbinlog stop-datetime="2017-09-28 04:00:00" /mysql/data/binlog.123456 | mysql -u root -p
mysqlbinlog start-datetime="2017-09-27 09:00:00"  stop-datetime="2017-09-28 04:30:00" /usr/local/mysql/data/binlog.123456 > /tmp/mysql_restore.sql

-->
